<div ng-controller="SampleController as c">
sample<br>
{{name}}

  <button ngf-select="c.fileSelect($files)" ngf-multiple="true"
    ngf-accept="'.jpg,.png,.gif'">ファイルを選択</button>
<input type="file" ngf-select="c.fileSelect($files)">

<button ng-click="c.filedownload()">ファイルをdownload</button>

<button ng-click="c.testHttpGet()">HttpGet</button>

<button ng-click="c.test()">test</button>
<button ng-click="c.test1()">test1</button>


<ng-form name="c.userForm" novalidate>
      <input type="text" ng-model="filterValue" />
      <input type="text" ng-show="true" ng-model="dirtytest">
      
<div ng-show="c.userForm.$dirty">
dirty
</div>
</form>  
</div>

